<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>starting page</title>
    <style type="text/css">
    	.score{
    		position: relative;
    		left: 185px;
    		top: 15px;
    	}
    	.fig-label{
    		position: relative;
    		top: 53px;
    		left: 60px;
    	}
    </style>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	

    <nav class="navbar navbar-inverse "> <!--navbar-fixed-top -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Thompson Sampling</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
<!--             <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    	

      <div class="row">
        <form action="{{ url_for('get_random') }}">
    		<input type="submit" class="col-md-12 btn btn-primary" value="TEST" />
		</form>
		<form action="{{ url_for('reset') }}">
    		<input type="submit" class="col-md-12 btn btn-info" value="RESET" />
		</form>
      </div>

    <div class="row">

    		<div class="col-md-6">
    			<h1 class="fig-label">page 1</h1>
    			<div class="score">click throughs: {{states[0][0]}} - lost user: {{states[0][1]}}</div>
    			<img src="data:image/png;base64,{{ fig1 }}" width="500">
    		</div>
    		<div class="col-md-6">
    			<h1 class="fig-label">page 2</h1>
    			<div class="score">click throughs: {{states[1][0]}} - lost user: {{states[1][1]}}</div>
    			<img src="data:image/png;base64,{{ fig2 }}" width="500">
    		</div>
    	

    </div>

    </div><!-- /.container -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>
</html>